


.teamphoto {
	background: url('../img/people.jpg') no-repeat;
	background-size: 100%;
	background-position: 0% 30%;
	height: 110%;
	width: 100%;
	/*background: #cc6055;*/
    position: fixed;
    z-index: 0;

}

.lakephoto {
    /*background: url('/2016/img/jarvi.jpg.jpg') no-repeat;*/
    background: url('../img/wiki18.jpg') no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: 0% 30%;
    height: 110%;
    width: 100%;
    position: fixed;
    z-index: 0;
}


ul.topnav li a.current {
	color: #A5410B;
	
}

ul.topnav li a img {
	position:absolute;
	width:10%;
}

 ul.botnav li a.active { 
   color: #A5410B;
 }

.section {
	/*background: url('file:///C:/Users/Saara/Documents/iGEM/Aalto-Helsinki-2016-Wiki/img/trees.png') no-repeat;*/
	/*background-size: 100%;*/
	position: relative;
    margin-left: 0;
	margin-right: 0;
	margin-top: 0;
    padding: 0;
	height: 130px;
    background-color:  #b1834f;
    overflow: hidden;
	font-size: 20px;
	text-align: center;
	color: white;
	padding-top: 23px;
	-webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.24);
box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.24);
}

.section p {
	margin: 0;
}

.algaephoto {
	margin-bottom: 30px;
	margin-right: 15px;
	vertical-align: middle;
	float: left;
	width: 30%;
	border: 5px;
}

.box-shadow {
	  position: relative;
	  float: right;
}

.box-shadow::after {
    box-shadow: inset 0 0 10px 10px white;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	height: 90%;
    width: 30%;
}

section h2 {
	display: block;
	margin-top: 250px;
	font-size: 70px;
	color: white;
}

p.justify {
	text-align: justify;
}

.modelingphoto {
	background: url('../img/wiki05.jpg') no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	height: 110%;
	width: 100%;
    position: fixed;
    z-index: 0;

}

.hpphoto {
	background: url('../img/wiki10.jpg') no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	height: 110%;
	width: 100%;
    position: fixed;
    z-index: 0;
}

.collabphoto {
	background: url('../img/wiki14.jpg') no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	height: 110%;
	width: 100%;
    position: fixed;
    z-index: 0;
}

.achievementsphoto {
	background: url('../img/wiki09.jpg') no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
	height: 110%;
	width: 100%;
    position: fixed;
    z-index: 0;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 47px;

  /* Dimensions */
  width: 100%;
  height: 3px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: #A5410B;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #A5410B;
}

progress::-moz-progress-bar {
  background-color: #A5410B;
}

.title {
	font-family: 'bebas_neuebold'; 
	font-size: 120px; 
	letter-spacing: 2px;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);

}







