.teamphoto {
	background: url('/Users/Misan/Desktop/iGEM/Wiki/Aalto-Helsinki-2016-Wiki/img/team2_scaled.JPG') no-repeat;
	background-size: 100%;
	background-position: 0% 30%;
	height: 110%;
	width: 100%;
	/*background: #cc6055;*/
}


ul.topnav li a.current {
	color: #696969;
	
}



